# Filtragem Colaborativa 
## K Nearest Neighbors


Mas e se quiséssemos não apenas encontrar itens com classificação semelhante, mas também prever como um usuário pode avaliar um item, mesmo que não seja semelhante a qualquer item que tenha visto? Uma abordagem é encontrar usuários semelhantes usando um modelo de K vizinhos mais próximos e ver como eles gostaram do item.

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv("/content/drive/MyDrive/recomendacao/movies_small.csv")

In [ ]:
ratings = pd.read_csv("/content/drive/MyDrive/recomendacao/ratings_small.csv")

In [ ]:
filmes_ratings = list(ratings.movieId.unique())

In [ ]:
movies = movies[movies["movieId"].isin(filmes_ratings)]

## Pivotando o DataFrame

## Usando similaridade Cosseno

In [ ]:
user_ratings_table = ratings.pivot_table(index="userId",columns="movieId", values="rating")

In [ ]:
user_ratings_table.fillna(0)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
avg_ratings = user_ratings_table.mean(axis=1)

In [ ]:
user_ratings_table_centered = user_ratings_table.sub(avg_ratings, axis=0)

In [ ]:
user_ratings_normed = user_ratings_table_centered.fillna(0)

In [ ]:
user_ratings_normed

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.366379,0.000000,-0.366379,0.0,0.0,-0.366379,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.363636,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,-1.157399,0.000000,0.000000,0.0,0.0,0.000000,-1.157399,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.213904,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,-0.634176,-1.134176,-1.134176,0.0,0.0,0.000000,0.000000,0.0,0.0,0.865824,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,-0.270270,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.729730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,1.311444,0.000000,0.000000,0.0,0.0,1.311444,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarities = cosine_similarity(user_ratings_normed)

In [ ]:
similarities

In [ ]:
cosine_similarity_df = pd.DataFrame(similarities,
                                    index = user_ratings_normed.index,
                                    columns =user_ratings_normed.index)

In [ ]:
cosine_similarity_df.head()

In [ ]:
user_2 = cosine_similarity_df.loc[2]

In [ ]:
similaridade_ordenada = user_2.sort_values(ascending=False)

In [ ]:
similaridade_ordenada

In [ ]:
vizinhos_proximos = similaridade_ordenada[1:4].index

In [ ]:
print(vizinhos_proximos)

In [ ]:
list(vizinhos_proximos)

In [ ]:
avaliacoes_vizinhos = user_ratings_table.fillna(0).loc[vizinhos_proximos]

In [ ]:
avaliacoes_vizinhos[29].mean()

# Usando Knn de Fato

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
data = pd.merge(movies, ratings, on = "movieId")

In [ ]:
data = data[["movieId", "title", "userId", "rating"]]

In [ ]:
# Define the features and target
X = data[['userId', 'movieId']]
y = data['rating']

In [ ]:
# Cria uma instância para NearestNeighbors 
#"kd_tree"
knn = NearestNeighbors(n_neighbors=10, algorithm="kd_tree")

In [ ]:
# Fit no modelo
knn.fit(X, y)

# Define o usuario e o filme no qual queremos fazer recomendações
user = 5
movie = 10

In [ ]:
movies[movies["movieId"]==10]

   movieId             title                     genres
9       10  GoldenEye (1995)  Action|Adventure|Thriller

In [ ]:
# Achas os 10 vizinhos mais próximos para cada par de filmes e usuários 
distances, indices = knn.kneighbors([[user, movie]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [ ]:
# Pega as classificações desses usuários mais próximos
neighbor_ratings = y[indices[0]]

In [ ]:
# Calcula a média das avaliações que eles deram
average_rating = sum(neighbor_ratings) / len(neighbor_ratings)

In [ ]:
# Mostra a recomendação
print(f'A recomendação pro usuário {user} em relação ao filme {movie} é {average_rating}')

A recomendação pro usuário 5 em relação ao filme 10 é 3.6