In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ratings_df = pd.read_csv("/content/drive/MyDrive/recomendacao/ratings_small.csv")

In [ ]:
ratings_df.movieId.nunique()

9724

In [ ]:
movies_df = pd.read_csv("/content/drive/MyDrive/recomendacao/movies_small.csv")

In [ ]:
movies_df.shape

(9742, 3)

In [ ]:
df = pd.merge(movies_df, ratings_df, on = "movieId")

In [ ]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [ ]:
combine_movie_rating = df.dropna(axis =0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.
     groupby(by=["title"])["rating"].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
      [['title', 'totalRatingCount']]
      )

In [ ]:
movie_ratingCount.sort_values(by="totalRatingCount", ascending = False)

                                          title  totalRatingCount
3158                        Forrest Gump (1994)               329
7593           Shawshank Redemption, The (1994)               317
6865                        Pulp Fiction (1994)               307
7680           Silence of the Lambs, The (1991)               279
5512                         Matrix, The (1999)               278
...                                         ...               ...
4773                King Solomon's Mines (1950)                 1
4772                King Solomon's Mines (1937)                 1
4771                          King Ralph (1991)                 1
4769                     King Kong Lives (1986)                 1
9718  À nous la liberté (Freedom for Us) (1931)                 1

[9719 rows x 2 columns]

In [ ]:
df = pd.merge(df, movie_ratingCount, on = "title")

In [ ]:
df.head()

,movieId,title,genres,userId,rating,timestamp,totalRatingCount
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,215
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,215
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,215
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,215

In [ ]:
movie_ratingCount.query("totalRatingCount <= 3").shape

(5539, 2)

## Pivotando os Dados

In [ ]:
user_ratings_table = df.pivot_table(index="userId",columns="title", values="rating")

In [ ]:
user_ratings_table

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.5,3.5,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,4.0,3.5,3.0,0.0,0.0,2.0,1.5,0.0,0.0

In [ ]:
user_ratings_table.fillna(0,inplace=True)

In [ ]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(user_ratings_table.values)

O código importa a função csr_matrix do módulo scipy.sparse e então cria uma representação de matriz esparsa dos dados contidos no DataFrame user_ratings_table usando a função csr_matrix. A csr_matrix, ou matriz de linha esparsa comprimida, é uma representação de matriz esparsa que é eficiente para computação e uso de memória quando a maioria dos elementos na matriz é zero. Este é frequentemente o caso em sistemas de recomendação onde apenas uma pequena porcentagem de itens é avaliada por um usuário.

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
movie_knn = NearestNeighbors(metric ='cosine', algorithm ='brute')

In [ ]:
movie_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
query_index = np.random.choice(user_ratings_table.shape[0])

In [ ]:
query_index

393

In [ ]:
distances, indices = movie_knn.kneighbors(user_ratings_table.iloc[query_index,:].values.reshape(1,-1), n_neighbors=6)

In [ ]:
lista_user = []
for i in range(0, len(distances.flatten())):
  if i == 0:
    print("Recommendations for {0}:\n".format(user_ratings_table.index[query_index]))
  else:
    print('{0}: {1}, com distância de {2}'.format(i,user_ratings_table.index[indices.flatten()[i]], distances.flatten()[i]))
    lista_user.append(user_ratings_table.index[indices.flatten()[i]])

Recommendations for 394:

1: 379, com distância de 0.38443829316349665
2: 126, com distância de 0.3973252068823856
3: 507, com distância de 0.4580162232793845
4: 46, com distância de 0.46033878337031775
5: 498, com distância de 0.4895395677026705

In [ ]:
lista_user

[379, 126, 507, 46, 498]

In [ ]:
userid_list = lista_user

In [ ]:
filmes_assistidos = df[df.userId == query_index].title.unique()

In [ ]:
filmes_assistidos[:10]

array(['Braveheart (1995)',
       'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
       'Fugitive, The (1993)', 'Blade Runner (1982)',
       'Terminator 2: Judgment Day (1991)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
       'Trainspotting (1996)', 'Reservoir Dogs (1992)',
       'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
       'Brazil (1985)'], dtype=object)

In [ ]:
recomendacoes = df[df.userId.isin(userid_list)].drop_duplicates(subset="movieId")

In [ ]:
recomendacoes.head()

,movieId,title,genres,userId,rating,timestamp,totalRatingCount
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906,215
577,7,Sabrina (1995),Comedy|Romance,498,4.0,839197378,54
623,10,GoldenEye (1995),Action|Adventure|Thriller,46,3.0,834787826,132
1096,19,Ace Ventura: When Nature Calls (1995),Comedy,379,2.0,847397556,88
1200,21,Get Shorty (1995),Comedy|Crime|Thriller,379,2.0,847397556,89

In [ ]:
recomendacoes = recomendacoes[~recomendacoes.isin(filmes_assistidos)]

In [ ]:
recomendacoes.query('totalRatingCount > 100')

,movieId,title,genres,userId,rating,timestamp,totalRatingCount
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906,215
623,10,GoldenEye (1995),Action|Adventure|Thriller,46,3.0,834787826,132
1515,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,46,4.0,834788094,177
1704,34,Babe (1995),Children|Drama,126,3.0,845925854,128
1887,39,Clueless (1995),Comedy|Romance,46,3.0,834788093,104
2151,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,126,5.0,845925822,203
2399,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,46,5.0,834788094,204
3404,110,NaN,Action|Drama|War,46,5.0,834788016,237
3629,111,Taxi Driver (1976),Crime|Drama|Thriller,46,4.0,834788094,104
4097,150,Apollo 13 (1995),Adventure|Drama|IMAX,126,4.0,845925577,201
4313,153,Batman Forever (1995),Action|Adventure|Comedy|Crime,46,4.0,834787678,137
4609,161,Crimson Tide (1995),Drama|Thriller|War,46,3.0,834787826,103
4817,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,46,4.0,834787677,144
5288,185,"Net, The (1995)",Action|Crime|Thriller,46,4.0,834787906,112
5703,208,Waterworld (1995),Action|Adventure|Sci-Fi,46,3.0,834787906,115
6205,231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy,46,3.0,834787757,133
6682,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror,46,4.0,834787906,109
7632,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller,46,5.0,834787826,101
7925,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,126,1.0,845925577,307
8445,316,Stargate (1994),Action|Adventure|Sci-Fi,46,4.0,834787757,140
8676,318,"Shawshank Redemption, The (1994)",Crime|Drama,46,4.0,834787757,317
9077,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi,126,4.0,845925690,108
9494,344,Ace Ventura: Pet Detective (1994),Comedy,46,3.0,834787678,161
9730,349,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,46,3.0,834787677,110
10091,356,Forrest Gump (1994),Comedy|Drama|Romance|War,126,4.0,845925690,329
10537,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,46,5.0,834788146,172
10723,367,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,46,4.0,834788227,157
11152,377,Speed (1994),Action|Romance|Thriller,126,5.0,845925822,171
11333,380,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller,46,5.0,834787967,178
12036,434,Cliffhanger (1993),Action|Adventure|Thriller,46,4.0,834787826,101
12472,454,"Firm, The (1993)",Drama|Thriller,46,5.0,834788146,101
12626,457,NaN,Thriller,46,5.0,834787967,190
13133,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,126,3.0,845925690,238
13592,500,Mrs. Doubtfire (1993),Comedy|Drama,126,4.0,845925854,144
14237,527,Schindler's List (1993),Drama|War,379,3.0,847397556,220
14546,539,Sleepless in Seattle (1993),Comedy|Drama|Romance,379,4.0,847397556,106
15415,587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller,379,3.0,847397499,115
15485,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,46,5.0,834787677,183
15699,589,NaN,Action|Sci-Fi,126,3.0,845925822,224
15891,590,Dances with Wolves (1990),Adventure|Drama|Western,46,5.0,834787617,164
16058,592,Batman (1989),Action|Crime|Thriller,46,3.0,834787617,189
16249,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,46,5.0,834787906,279
16597,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,46,5.0,834787757,146
16868,597,Pretty Woman (1990),Comedy|Romance,379,3.0,847397499,135
17531,648,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,498,5.0,839197392,162

In [ ]:
df[df.userId == query_index].title.unique

<bound method Series.unique of 3536                                     Braveheart (1995)
7811     Léon: The Professional (a.k.a. The Professiona...
12722                                 Fugitive, The (1993)
14693                                  Blade Runner (1982)
15798                    Terminator 2: Judgment Day (1991)
                               ...
96977                    X-Men: Days of Future Past (2014)
97381                       Guardians of the Galaxy (2014)
98208                       Avengers: Age of Ultron (2015)
98657                     The Amazing Screw-On Head (2006)
98680                                 Power/Rangers (2015)
Name: title, Length: 123, dtype: object>